<h2 class="centered">Favourites</h2>
<div class="scrollable">
	<ol>
		{{#each favourites}}
			<li>
				<a href="#{{@key}}/{{../line}}">
					{{this}} ({{@key}})
				</a>
				&nbsp;
				<a class="remove-favourite" data-stop-id="{{@key}}">Изтрий</a>
			</li>
		{{/each}}
	</ol>
</div>
