<ul class="lines">
	<li class="trams">
		<strong>Trams:</strong>
		<div class="lines-wrapper">
			{{#each trams}}
				<a class="tram" data-line-type="0" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses">
		<strong>Buses:</strong>
		<div class="lines-wrapper">
			{{#each buses}}
				<a class="bus" data-line-type="1" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="trolleys">
		<strong>Trolleys:</strong>
		<div class="lines-wrapper">
			{{#each trolleys}}
				<a class="trolley" data-line-type="2" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="subway">
		<div class="lines-wrapper">
			<strong>
				<a class="subway" data-line-type="3">Subway</a>
			</strong>
		</div>
	</li>
</ul>
