<ul class="lines">
	<li class="trolleys">
		<strong>Тролеи:</strong>
		<div class="lines-wrapper">
			{{#each lines.trolleys}}
				<a class="trolley" href="#{{../stopcode}}/trolley/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="trams">
		<strong>Трамваи:</strong>
		<div class="lines-wrapper">
			{{#each lines.trams}}
				<a class="tram" href="#{{../stopcode}}/tram/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses">
		<strong>Автобуси:</strong>
		<div class="lines-wrapper">
			{{#each lines.buses}}
				<a class="bus" href="#{{../stopcode}}/bus/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="subway">
		<div class="lines-wrapper">
			<strong>
				<a class="subway">Метро</a>
			</strong>
		</div>
	</li>
</ul>
