<ul class="lines">
	<li class="trams">
		<strong>Trams:</strong>
		<div class="lines-wrapper">
			{{#each lines.trams}}
				<a class="tram" href="#{{../stopcode}}/0/{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses">
		<strong>Buses:</strong>
		<div class="lines-wrapper">
			{{#each lines.buses}}
				<a class="bus" href="#{{../stopcode}}/1/{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="trolleys">
		<strong>Trolleys:</strong>
		<div class="lines-wrapper">
			{{#each lines.trolleys}}
				<a class="trolley" href="#{{../stopcode}}/2/{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="subway">
		<div class="lines-wrapper">
			<strong>
				<a class="subway" data-line-type="3">Subway</a>
			</strong>
		</div>
	</li>
</ul>
