<ul class="lines">
	<li class="trolleys">
		<strong>Тролеи:</strong>
		<div class="lines-wrapper">
			{{#each trolleys}}
				<a class="blocks trolley" href="#/trolley/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="trams">
		<strong>Трамваи:</strong>
		<div class="lines-wrapper">
			{{#each trams}}
				<a class="blocks tram" href="#/tram/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses">
		<strong>Автобуси:</strong>
		<div class="lines-wrapper">
			{{#each buses}}
				<a class="blocks bus" href="#/bus/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="subways">
		<strong>Метро:</strong>
		<div class="lines-wrapper">
			{{#each subway}}
				<a class="subway" href="#/subway/{{id}}" data-line-name="{{id}}">{{name}}</a>
			{{/each}}
		</div>
	</li>
</ul>
