<ul class="lines">
	<li class="trolleys">
		<strong>Тролеи:</strong>
		<div class="lines-wrapper">
			{{#each trolleybus}}
				<a class="blocks trolley nowrap" href="#/trolley/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="trams">
		<strong>Трамваи:</strong>
		<div class="lines-wrapper">
			{{#each tram}}
				<a class="blocks tram nowrap" href="#/tram/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses">
		<strong>Автобуси:</strong>
		<div class="lines-wrapper">
			{{#each bus}}
				<a class="blocks bus nowrap" href="#/bus/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses">
		<strong>Нощни автобуси:</strong>
		<div class="lines-wrapper">
			{{#each nightbus}}
				<a class="blocks bus nowrap" href="#/bus/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="subways">
		<strong>Метро:</strong>
		<div class="lines-wrapper">
			{{#each subway}}
				<a class="blocks subway nowrap" href="#/subway/{{this}}" data-line-name="{{this}}">{{this}}</a>
			{{/each}}
		</div>
	</li>
</ul>
