<h2 class="centered">{{transport}} {{name}}</h2>
<div class="columns">
	{{#each routes}}
		<div class="route-column">
			<h3 class="centered">{{routename}}</h3>
			<div class="scrollable">
				<ol>
					{{#each this}}
						<li data-stop-code="{{code}}">
							<a class="nowrap" href="#{{code}}/{{../../type}}/{{../../name}}">
								{{name}} ({{code}})
							</a>
						</li>
					{{/each}}
				</ol>
			</div>
		</div>
	{{/each}}
</div>
