<h2 class="centered">{{linetype}} {{linename}}</h2>
{{#each routes}}
	<div class="column">
		<h3 class="centered">{{routename}}</h3>
		<div class="scrollable">
			<ol>
				{{#each routestops}}
					<li>
						<a href="#{{stopcode}}">
							{{stopname}} ({{stopcode}})
						</a>
					</li>
				{{/each}}
			</ol>
		</div>
	</div>
{{/each}}
