<h2 class="centered">{{linetype}} {{linename}}</h2>
{{#each routes}}
	<column>
		<h3 class="centered">{{routename}}</h3>
		<ol>
			{{#each routestops}}
				<li>
					<a href="#{{stopcode}}">
						{{stopname}} ({{stopcode}})
					</a>
				</li>
			{{/each}}
		</ol>
	</column>
{{/each}}
