{{#if input}}
	{{#if results}}
		<h2 class="centered">Results for "{{input}}"</h2>
		<ol>
			{{#each results}}
				<li data-stop-code="{{code}}">
					<a href="#{{code}}">
						{{name}} ({{code}})
					</a>
				</li>
			{{/each}}
		</ol>
	{{else}}
		<h2 class="centered">No results for "{{input}}"</h2>
	{{/if}}
{{/if}}
