{{#if this}}
	<h2 class="centered">Results</h2>
	<ol>
		{{#each this}}
			<li data-stop-code="{{c}}">
				<a href="#{{c}}">
					{{n}} ({{c}})
				</a>
			</li>
		{{/each}}
	</ol>
{{else}}
	<h2 class="centered">No results</h2>
{{/if}}
