<h2 class="centered">Subway</h2>
<div class="scrollable">
	<ol>
		{{#each stations}}
			<li>
				<a href="#subway/{{id}}">
					{{name}}
				</a>
				<!--
				id: {{id}}<br />
				route_id: {{route_id}}<br />
				code: {{code}}<br />
				point_id: {{point_id}}<br />
				name: {{name}}<br />
				latitude: {{latitude}}<br />
				longitude: {{longitude}}
				-->
			</li>
		{{/each}}
	</ol>
</div>
