<h2>{{name}} ({{code}})</h2>
<button onclick="favouritesController.add('{{code}}', '{{name}}')">Запази</button>
<div class="timestamp nowrap">Calculated at {{timestamp}}</div>
<ul class="times-grouped scrollable">
	{{#each grouped}}
		<li class="nowrap">
			<a class="{{vehicle_type}}" href="#{{../code}}/{{vehicle_type}}/{{name}}">{{name}}</a>
			<ul>
				{{#each arrivals}}
					{{#if this}}
						<li>
							{{time}}
							<span class="features">
								{{#if is_wheelchair_accessible}}
									<img src="https://www.sofiatraffic.bg/svg/wheelchair.svg" title="Инвалидна количка" />
								{{/if}}
								{{#if has_air_conditioning}}
									<img src="https://www.sofiatraffic.bg/svg/air-conditioning.svg" title="Климатик" />
								{{/if}}
								{{#if has_wifi}}
									<img src="https://www.sofiatraffic.bg/svg/wifi.svg" title="WiFi" />
								{{/if}}
							</span>
						</li>
					{{/if}}
				{{/each}}
			</ul>
			{{#if separate}}<hr/>{{/if}}
		</li>
	{{/each}}
</ul>
<ul class="times-listed scrollable">
	{{#each listed}}
		<li class="nowrap">
			{{time}} &rarr;
			<a class="{{type}}" href="#{{../code}}/{{type}}/{{name}}">{{name}}</a>
			<span class="features">
				{{#if is_wheelchair_accessible}}
					<img src="https://www.sofiatraffic.bg/svg/wheelchair.svg" title="Инвалидна количка" />
				{{/if}}
				{{#if has_air_conditioning}}
					<img src="https://www.sofiatraffic.bg/svg/air-conditioning.svg" title="Климатик" />
				{{/if}}
				{{#if has_wifi}}
					<img src="https://www.sofiatraffic.bg/svg/wifi.svg" title="WiFi" />
				{{/if}}
			</span>
		</li>
	{{/each}}
</ul>
