{{#if timings}}
	<h2>{{stopname}} ({{stopcode}})</h2>
	<button onclick="favouritesController.add({{stopcode}}, '{{stopname}}')">Add to favourites</button>
	<ul>
		{{#each timings}}
			<li>
				<span class="{{type}}">{{line}}</span>
				<ul>{{#each timing}}
					{{#if this}}<li>{{this}}</li>{{/if}}
				{{/each}}</ul>
			</li>
		{{/each}}
	</ul>
{{else}}
	<h2>No such stop ({{stopcode}})</h2>
{{/if}}
