{{#if timings}}
	<h2>{{stopname}} ({{stopcode}})</h2>
	<button onclick="favouritesController.add({{stopcode}}, '{{stopname}}')">Add to favourites</button>
	<ul class="times-by-lines">
		{{#each timings}}
			<li>
				<a class="{{typename}}" href="#{{../stopcode}}/{{type}}/{{line}}">{{line}}</a>
				<ul>
					{{#each timing}}
						{{#if this}}
							<li>{{this}}</li>
						{{/if}}
					{{/each}}
				</ul>
			</li>
		{{/each}}
	</ul>
	<ul class="times-expanded">
		{{#each expanded}}
			<li>
				{{time}} &rarr;
				<a class="{{typename}}" href="#{{../stopcode}}/{{type}}/{{line}}">{{line}}</a>
			</li>
		{{/each}}
	</ul>
{{else}}
	<h2>No such stop ({{stopcode}})</h2>
{{/if}}
