<h2>{{name}} ({{code}})</h2>
<button onclick="favouritesController.add('{{code}}', '{{name}}')">Запази</button>
<ul class="times-grouped scrollable block">
	{{#each grouped}}
		<li class="nowrap">
			<a class="{{type}}" href="#{{../code}}/{{type}}/{{name}}">{{name}} ({{route}})</a>
			<ul>
				{{#each arrivals}}
					<li>
						{{t}} мин
						<span class="features">
							{{#if wheelchairs}}
								<img src="https://www.sofiatraffic.bg/images/wheel.svg" title="Инвалидна количка" />
							{{/if}}
							{{#if ac}}
								<img src="https://www.sofiatraffic.bg/images/snow.svg" title="Климатик" />
							{{/if}}
							{{#if bikes}}
								<img src="https://www.sofiatraffic.bg/images/bike.svg" title="Място за велосипеди" />
							{{/if}}
						</span>
					</li>
				{{/each}}
			</ul>
			{{#if selected}}<hr/>{{/if}}
		</li>
	{{/each}}
</ul>
<ul class="times-listed scrollable block">
	{{#each listed}}
		<li class="nowrap">
			{{t}} мин &rarr;
			<a class="{{type}}" href="#{{../code}}/{{type}}/{{name}}">{{name}} ({{route}})</a>
			<span class="features">
				{{#if wheelchairs}}
					<img src="https://www.sofiatraffic.bg/images/wheel.svg" title="Инвалидна количка" />
				{{/if}}
				{{#if ac}}
					<img src="https://www.sofiatraffic.bg/images/snow.svg" title="Климатик" />
				{{/if}}
				{{#if bikes}}
					<img src="https://www.sofiatraffic.bg/images/bike.svg" title="Място за велосипеди" />
				{{/if}}
			</span>
		</li>
	{{/each}}
</ul>
