<h2>{{name}} ({{code}})</h2>
<button onclick="favouritesController.add({{code}}, '{{name}}')">Add to favourites</button>
<ul class="times-grouped">
	{{#each grouped}}
		<li>
			<a class="{{vehicle_type}}" href="#{{../code}}/{{vehicle_type}}/{{name}}">{{name}}</a>
			<ul>
				{{#each arrivals}}
					{{#if this}}
						<li>{{time}}</li>
					{{/if}}
				{{/each}}
			</ul>
			{{#if separate}}<hr/>{{/if}}
		</li>
	{{/each}}
</ul>
<ul class="times-listed">
	{{#each listed}}
		<li>
			{{time}} &rarr;
			<a class="{{type}}" href="#{{../code}}/{{type}}/{{name}}">{{name}}</a>
		</li>
	{{/each}}
</ul>
